.form-control {
  width: 35em;
}
.btn-success {
  float: right;
  margin-top: -2.5em;
}
.area {
  cursor: pointer;
  color: crimson;
}

.area:hover {
  text-decoration: underline;
}

#show-output {
  display: none;
}
